<ion-modal-view ng-controller="emergencyController">
    <ion-header-bar class="bar-header bar-dark">
      <h1 class="title">Emergency Contacts</h1>
    </ion-header-bar>
    <ion-content >
     <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Contact Name 1">
    </label>
    
  </div>
   <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text"  value="{{contact.phoneNumbers[0].value}}">
    </label>
    <a class="button button-clear button-icon icon ion-android-call " ng-click="pickContactUsingNativeUI()"></a>
  </div>
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Contact Name 2">
    </label>
    
  </div>
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text"  value="{{contact1.phoneNumbers[0].value}}">
    </label>
    <a class="button button-clear button-icon icon ion-android-call " ng-click="pickContactUsingNativeUI1()"></a>
  </div>
    </ion-content>
	  <div class="bar bar-footer bar-positive">
  <div class="title" ng-click="submit()">Submit</div>
</div>
  </ion-modal-view>
