<ion-view ng-controller="LoginController" view-title="Login" align-title="left">
    <ion-content style="background: url(img/commuter.png) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Commuter Guardian</h1>
            </div>
        </div>
     
		
        <div class="button-bar social-login">
		   <button ng-click="googleSignIn()" class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button ng-click="login()" class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
			<br/>
			
        </div>
    </ion-content>
</ion-view>
